// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.foo{
  background:pink;
  //@include transition(all 0.3s ease-in);
  max-height: 20 * 12px;
  overflow:hidden;
  @include transition(max-height 1s ease-in);

}
.foo.animation{
//.foo:hover{
  max-height:0px;
}